KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_SRC_ASM=\
$(ARCHDIR)/entry.asm \
$(ARCHDIR)/load_gdt.asm \
$(ARCHDIR)/load_idt.asm \
$(ARCHDIR)/load_pd.asm \
$(ARCHDIR)/isr.asm \
$(ARCHDIR)/irq.asm \
$(ARCHDIR)/switch_to.asm

KERNEL_ARCH_SRC_C=\
$(ARCHDIR)/vga.c

